@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");
@keyframes animate {
  0%,
  100% {
    content: "-";
  }
  25% {
    content: "/";
  }
  50% {
    content: "-";
  }
  75% {
    content: "\\";
  }
}
.preloader {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  height: 70px;
  font-size: 3rem;
  text-align: center;
  padding-left: 50px;
  display: inline-flex;
  width: 360px;
  letter-spacing: 4px;
  font-family: "Press Start 2P", cursive;
  color: #212121;
}

.preloader::before {
  content: "-";
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  animation: animate 0.5s ease-in-out infinite; 
}